doctype html
html(lang="en")
	head
		block head
			meta(charset="utf-8")
			meta(http-equiv="X-UA-Compatible", content="IE=edge")
			meta(name="viewport",content="width=device-width, initial-scale=1")
			meta(name="description",content="")
			meta(name="author",content="")
			title= title
			block styles
				link(rel="stylesheet", href='/bootstrap/dist/css/bootstrap.min.css')
				link(rel="stylesheet", href='/css/main.css')
			block headscripts
				script(src='/jquery/dist/jquery.min.js')
				script(src='/bootstrap/dist/js/bootstrap.min.js')
					
	body(class='body')
		block body
			div(class="container")
				div(class="row")
					h1 Welcome to SmokerPi
				br
				div(class="row")
					div(class='input-group text-center')
						span(class='input-group-addon') Name
						input#sessionName(value=sessionName, class="form-control text-center", aria-describedby="btnGroupAddon")
				br
				div(class="row")
					div(class='input-group text-center')
						span(class='input-group-addon') Temp
						input#targetTemp(value=targetTemp, class="form-control text-center", aria-describedby="btnGroupAddon")
				br
				div(class='row')
					div(class='col justify-content-center')
						h2#currTemp= currTemp + "°F"
				div(class='row inline-headers')
					div(class='btn-group' data-toggle="buttons")
						label(class="btn btn-lg btn-warning disabled" style="pointer-events:none") Blower
						label(class="btn btn-lg btn-warning")
							input#BlowerOff(value="off", type='radio', name="setBlowerState", checked=(blowerState=="off"))
							| Off
						label(class="btn btn-lg btn-warning")
							input#BlowerAuto(value="auto", type='radio', name="setBlowerState", checked=(blowerState=="auto"))
							| Auto
						label(class="btn btn-lg btn-warning")
							input#BlowerOn(value="on", type='radio', name="setBlowerState", checked=(blowerState=="on"))
							| On
				br
				div(class='row inline-headers')
					div(class='btn-group' data-toggle="buttons")
						label(class="btn btn-lg btn-warning disabled" style="pointer-events:none") Logger
						label(class="btn btn-lg btn-warning")
							input#BlowerOff(value="off", type='radio', name="setLogState", checked=(logState=="off"))
							| Off
						label(class="btn btn-lg btn-warning")
							input#BlowerOn(value="on", type='radio', name="setLogState", checked=(logState=="on"))
							| On
				br
				canvas#myChart(width=400, height=400)
	block scripts
		script(src="/socket.io/socket.io.js")
		script(src='/chart.js/dist/Chart.min.js')
		script(src="/js/dashboard.js")
	
